/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto";
  color: #fff;
}

div {
  margin: 50px auto;
  padding: 15px;
  width: 70%;
  background-color: #770;
  border-radius: 5px;
}

button {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
}

dd {
  font-weight: bold;
}

form {
  display: grid;
  gap: 10px;
  margin: 10px auto;
}